{extend name="financial_details:base" /}
{block name="table-head"}
    <tr>
        <th>提现金额</th>
        <th>手续费</th>
        <th>实际到账</th>
        <th>申请时间</th>
        <th>申请人</th>
        <th>审核状态</th>
    </tr>
{/block}
{block name="table-body"}
    {if condition="!$lists->count()"}
        <tr>
            <td colspan="4" class="text-center">没有数据</td>
        </tr>
    {else/}
        {foreach $lists as $key => $val}
            <tr>
                <td>{$val->amount}</td>
                <td>{$val->service_charge}</td>
                <td>{$val->actual_payment}</td>
                <td>{$val->create_time}</td>
                <td>{$val->name}</td>
                <td>
                    {present name="$types[$val['type']]"}{$types[$val['type']]}{/present}
                </td>
            </tr>
        {/foreach}
    {/if}
<script type="text/javascript" src="__PLUGINS__/js/layui/layui.js"></script>
<script>
    layui.use(['form','layer'],function () {
        var form = layui.form;
        form.on('select(filter)',function (data) {
            var url = $(data.elem).find("option:selected").attr("data-url");
            location.href = url;
        });
    });
</script>
{/block}