{extend name="public:base" /}
{block name="css"}
<link href="__PLUGINS__/js/layui/css/layui.css" rel="stylesheet">
<style>
    .form-search .layui-form-label{
        width: auto;
    }
    .form-search button{
        height: 38px;
        margin-bottom: 5px;
    }
    .layui-form-item .layui-input-inline{
        width: 150px;
    }
</style>
{/block}
{block name="menu"}代理点列表{/block}
{block name="search"}
<div class="form-group layui-form form-search">
    <div class="layui-form-item">

        <div class="layui-inline">
            <label class="layui-form-label">地区</label>
            <div class="layui-input-inline">
                <select id="province" lay-filter="province" name="province">
                    <option value="">全部</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <select  id="city" lay-filter="city" name="city"></select>
            </div>
            <div class="layui-input-inline">
                <select id="district" lay-filter="district" name="district"></select>
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-input-inline">
                {:searchButton()}
            </div>
        </div>
        <h3>
            代理点后台：<a target="_blank" href="{:url('agent/index/index','','',true)}">{:url('agent/index/index','','',true)}</a>
        </h3>
    </div>
</div>
{/block}
{block name="table-head"}
    <tr>
        <th>省</th>
        <th>市</th>
        <th>区</th>
        <th>分类</th>
        <th>抽水比例</th>
        <th>入驻返利</th>
        <th>联系人</th>
        <th>手机号</th>
        <th>余额</th>
        <th>积分</th>
        <th>创建时间</th>
        <th>操作</th>
    </tr>
{/block}



{block name="table-body"}

{if condition="!$agents->count()"}
<tr>
    <td colspan="10" class="text-center">没有数据</td>
</tr>
{else/}
{foreach $agents as $key => $agent}
<tr>
    <td>{$agent->province}</td>
    <td>{$agent->city}</td>
    <td>{$agent->district}</td>
    <td>{present name="$agentLevel[$agent['level']]"}{$agentLevel[$agent['level']]}{/present}</td>
    <td>{$agent->pumping_ratio}%</td>
    <td>{$agent->residence_rebate}%</td>
    <td>{$agent->name}</td>
    <td>{$agent->phone}</td>
    <td>
        <a href="{:url('AgentBalance/balanceRecords',['agent_id'=>$agent->id])}">{$agent->balance}</a>
    </td>
    <td>
        <a href="{:url('AgentIntegral/IntegralRecords',['agent_id'=>$agent->id])}">{$agent->balance}</a>
    </td>
    <td>{$agent->create_time}</td>
    <td>
        <button class="btn btn-success btn-xs recharge_integral" data-id="{$agent->id}" type="button">充值积分</button>
        {:diyButton(url('StoreManage/index') . '?province=' . urlencode($agent->province) . '&city=' . urlencode($agent->city) . '&district=' .urlencode($agent->district)  ,'区域门店')}
        {:editButton(url('Agent/edit', ['id' =>$agent->id ]))}
        {:deleteButton(url('Agent/delete'), $agent->id)}
    </td>
</tr>
{/foreach}
{/if}
<script type="text/javascript" src="__PLUGINS__/js/layui/layui.js"></script>
<script>
    layui.use(['form','layer'],function () {
        var layer = layui.layer,form = layui.form;
        $('.recharge_integral').click(function(){
            var id = $(this).data('id');
            layer.prompt({
                formType: 0,
                value: '',
                title: '请输入需充值的积分',
            }, function(value, index, elem){
                if(!(/(^[1-9]\d*$)/.test(value))){
                    layer.msg('请输入正确的数值！');
                    return false;
                }
                layer.close(index);
                $.post('{:url("agent/rechargeIntegral")}', {id:id,integral:value}, function (response) {
                    if (!response.code) {
                        warning(response.msg);
                    } else {
                        success(response.msg);
                        setTimeout(function(){
                            window.location.href = response.url
                        }, response.wait * 1000);
                    }
                })
            });
        });


        var form,province,city,district;
        var select_province = '{$Request.param.province}';
        var select_city = '{$Request.param.city}';
        var select_district = '{$Request.param.district}';
        var is_first_select = true;
        //获取地区数据
        $.get("__JSON__/district.json",function(data){
            province = data.result[0];
            city = data.result[1];
            district = data.result[2];
            get_province();
        });
        //省份切换事件
        form.on('select(province)',function (data) {
            var id = $(data.elem).find("option:selected").attr("data-id");
            if(id == undefined){
                $("#city").html('');
                $("#district").html('');
                form.render('select');
                return ;
            }
            toggle_province($('#province option:selected').data('id'));
        });
        //城市切换事件
        form.on('select(city)',function (data) {
            var id = $(data.elem).find("option:selected").attr("data-id");
            var provinceid = $(data.elem).find("option:selected").attr("data-provinceid");
            toggle_city(id,provinceid);
        });
        //获取省份
        function get_province(){
            let select_index = -2;
            for (let x in province) {
                let selected = '';
                if(is_first_select && province[x].fullname == select_province){
                    selected = 'selected';
                    select_index = x;
                }
                $("#province").append('<option ' + selected + ' data-id="' + x + '" value="' + province[x].fullname + '">' + province[x].fullname + '</option>');
            }
            form.render('select');
            toggle_province(select_index);
        }
        //切换省份
        function toggle_province(id) {
            $("#city").html('');
            $("#district").html('');
            var i = province[id].cidx[0];
            var is_select = false;
            var select_index;
            $("#city").append('<option data-id="-2" value="">全部</option>');
            if(!city[i].hasOwnProperty('cidx')){
                let selected = '';
                if(province[id].fullname == select_city){
                    selected = 'selected';
                    is_select = true;
                    select_index = i;
                }
                $("#city").append('<option ' + selected + ' data-id = "-1" data-provinceid="' + i + '"  value="' + province[id].fullname + '">' + province[id].fullname + '</option>');
                toggle_city("-1",id);
                return ;
            }
            for(;i<=province[id].cidx[1];i++){
                let selected = '';
                if(is_first_select &&  city[i].fullname == select_city){
                    selected = 'selected';
                    is_select = true;
                    select_index = i;
                }
                $("#city").append('<option ' + selected + ' data-id="' + i + '"  value="' + city[i].fullname + '">' + city[i].fullname + '</option>');
            }
            if(is_select){
                toggle_city(select_index);
            }else{
                toggle_city("-2");
            }
            form.render('select');
        }
        //切换市区
        function toggle_city(id,provinceid) {
            $("#district").html('');
            $("#district").append('<option data-id="-2" value="">全部</option>');
            if(id == "-1"){
                let i = province[provinceid].cidx[0];
                for(;i<=province[provinceid].cidx[1];i++){
                    let selected = '';
                    if(is_first_select &&  city[i].fullname == select_district){
                        selected = 'selected';
                    }
                    $("#district").append('<option ' + selected + ' data-id="' + i + '"  value="' + city[i].fullname + '">' + city[i].fullname + '</option>');
                }
            }else if(id == "-2"){
                form.render('select');
            }else{
                let i = city[id].cidx[0];
                for(;i<=city[id].cidx[1];i++){
                    let selected = '';
                    if(is_first_select &&  district[i].fullname == select_district){
                        selected = 'selected';
                    }
                    $("#district").append('<option ' + selected + ' data-id="' + i + '"  value="' + district[i].fullname + '">' + district[i].fullname + '</option>');
                }
            }
            is_first_select = false;
            form.render('select');
        }
    });
</script>
{/block}
{block name="paginate"}

{$agents->render()|raw}

{/block}
