{extend name="financial_details:base" /}
{block name="table-head"}
    <tr>
        <th>门店名称</th>
        <th>充值积分</th>
        <th>消费金额</th>
        <th>充值时间</th>
        <th>充值人员</th>
    </tr>
{/block}
{block name="table-body"}
    {if condition="!$lists->count()"}
        <tr>
            <td colspan="5" class="text-center">没有数据</td>
        </tr>
    {else/}
        {foreach $lists as $key => $val}
            <tr>
                <td>{$val->name}</td>
                <td>{$val->integral}</td>
                <td>{$val->amount}</td>
                <td>{$val->create_time}</td>
                <td>{$val->member->name ?? ''}</td>
            </tr>
        {/foreach}
    {/if}
<script type="text/javascript" src="__PLUGINS__/js/layui/layui.js"></script>
<script>
    layui.use(['form','layer'],function () {
        var form = layui.form;
        form.on('select(filter)',function (data) {
            var url = $(data.elem).find("option:selected").attr("data-url");
            location.href = url;
        });
    });
</script>
{/block}